body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #04274d;
}

header {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

.logo-link {
    text-decoration: none;
    cursor: pointer;
}

img {
    cursor: pointer;
    width: 150px;
    height: auto;
    margin: 0 auto; 
}

.card-container {
    display: flex;
    justify-content: space-around;
    transform: scale(1.1); /* Adicionado para o efeito de aumento (aumenta em 10%) */
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
    background-color: #f8f8f8;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Adicionado para o efeito de aumento */
}

.card:hover {
    box-shadow: 0 4px 8px rgba(22, 22, 22, 0.1);
}

.card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    
}

.card button {
    display: block;
    margin-top: 5px;
    margin-top: auto; 
    margin-top: auto; /* Alinha no final do card */
    margin-bottom: auto; /* Alinha no topo do card */
}
.btn-estilizado {
     display: block;
    margin-top: 10px;
    color: #fff;
    border: none;
     cursor: pointer;
     font-weight: bold;
      transition: background-color 0.3s ease-in-out; padding: 10px 10px;
      background-color: rgb(4, 49, 97);
     color: #fff;
     border: none;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
    margin-top: auto; /* Alinha no final do card */
    margin-bottom: auto; /* Alinha no topo do card */
}