body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #04274d;
}

header {
    background-color: #fcfcfc;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    z-index: 2;
}

h1 {
    color: #333;
    margin: 0;
}

.container {
    width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px; /* Ajuste na margem superior para aumentar o espaço */
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinha a imagem à esquerda dentro do container */
    margin-left: 20px; /* Adiciona um espaço à esquerda do container (não diretamente na imagem) */
}

img {
    cursor: pointer; /* Adiciona o ponteiro do mouse para indicar que a imagem é clicável */
    width: 150px;
    height: auto;
}

h2 {
    text-align: center;
    color: #000000;
}

form {
    display: grid;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
